
@{
    ViewBag.Title = "MemberList";
}

<h2>BookList</h2>
<div>
    @*<a asp-controller="Master" asp-action="Books" class="btn btn-success">Add new</a>*@
    @Html.ActionLink("Add new", "AddMember", "Master", null, new { @class = "btn btn-success" })

</div>
<div class="container mt-3">
    <div id="memberTable" class="table-responsive">

    </div>
</div>
@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script>
        $(document).ready(function () {
            $.ajax({
                url: "https://localhost:7035/Member", 
                type: "GET",
                dataType: "json",
                success: function (response) {
                    let html = `
        <table class='table table-bordered'>
          <thead>
            <tr class="table-warning">
             <th>Id</th>
              <th>FullName</th>
              <th>Contact</th>
              <th>Email</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
      `;

                    response.forEach(member => {
                        html += `
          <tr>
           <td class="table-danger">${member.memberId}</td>
            <td class="table-primary">${member.fullName}</td>
            <td class="table-secondary">${member.contactNo}</td>
            <td class="table-info">${member.email}</td>
            <td>
              <button class="btn btn-sm btn-outline-primary" data-id="${member.memberId}"><i class="bi bi-pencil-square"></i></button>
              <button class="btn btn-sm btn-outline-danger delete-btn" data-id="${member.memberId}"><i class="bi bi-trash"></i></button>
            </td>
          </tr>
        `;
                    });

                    html += `
          </tbody>
        </table>
      `;

                    $("#memberTable").html(html);

                    $(".btn-outline-primary").click(function () {
                        const id = $(this).data("id");
                        //alert("Edit book with ID: " + id);
                        window.location.href = '/Master/UpdateMember/?Id=' + id
                       
                    });

                    $(".delete-btn").click(function () {
                        console.log($(this).data());

                        const id = $(this).data("id");
                        
                        console.log(id);
                        if (confirm("Are you sure you want to delete this Member?")) {
                            $.ajax({
                                url: `https://localhost:7035/Member/${id}`,
                                type: "DELETE",
                                success: function () {
                                    alert("Member deleted successfully.");
                                    location.reload();
                                },
                                error: function () {
                                    alert("Error deleting Member.");
                                }
                            });
                        }
                    });
                },
                error: function (xhr) {
                    $("#memberTable").html(`<p class='text-danger'>Error loading data: ${xhr.responseText}</p>`);
                }
            });
        });
    </script>
}


